@charset "UTF-8";* {
  transition: all 0.3s;
}
html,
body {
  background-color: var(--grey-color-50);
}
.hljs {
  background-color: rgb(238, 238, 238) !important;
}
* {
  text-align: left;
}
h1,
h2,
h3 {
  width: 100%;
}
a {
  color: var(--grey-color-800);
  font-weight: bold;
  position: relative;
}
h1 a {
  font-size: 2.2rem;
}
h2 a {
  font-size: 1.65rem;
}
a:hover::before {
  content: "#";
  display: block;
  font-weight: normal;
  position: absolute;
  left: -0.7em;
  top: 50%;
  transform: translateY(-50%);
  color: var(--blue-color-500);
}
key {
  margin: 0;
  border-radius: 4px;
  padding: 0.15rem 0.5rem;
  background-color: var(--blue-grey-color-50);
  color: var(--blue-grey-color-700);
}
.c-left .line a {
  font-weight: normal;
}
div.code {
  white-space: pre;
}
.example {
  border-radius: 5px;
  border: 1px solid var(--grey-color-400);
  margin-top: 20px;
}
.example .show {
  border-bottom: 1px solid var(--grey-color-400);
  padding: 10px;
}
.example .az-button {
  margin: 5px 8px;
}
.example pre {
  margin: 0;
}
.code-show {
  padding: 0 10px;
  text-align: right;
  font-size: 1.4rem;
}
.code-show .icon {
  cursor: pointer;
}.warp[data-v-408d679c] {
  width: 100%;
  height: 100%;
}
.header[data-v-408d679c] {
  height: 52px;
  width: 100%;
  position: fixed;
  top: 0;
  box-sizing: border-box;
  z-index: 99;
  border-bottom: 2px solid var(--grey-color-300);
  background: var(--grey-color-50A);
  backdrop-filter: blur(1px);
}
.center[data-v-408d679c] {
  height: 100%;
  padding-top: 52px;
}
.c-left[data-v-408d679c] {
  position: relative;
  border-right: 1px solid var(--grey-color-300);
  background-color: var(--grey-color-50);
}
.c-left .list[data-v-408d679c] {
  margin-top: 25px;
}
.c-left .list .line[data-v-408d679c] {
  padding-top: 5px;
  font-size: 1em;
  text-align: left;
  padding-left: 20%;
  color: var(--grey-color-800);
}
.c-left .list .line a[data-v-408d679c] {
  color: var(--grey-color-800);
}
.c-left .list .line[data-v-408d679c]:nth-child(1) {
  font-weight: bold;
  font-size: 1.2em;
  padding-left: 10%;
}
.c-right[data-v-408d679c] {
  padding: 0 50px;
  background-color: var(--grey-color-50);
  color: var(--grey-color-A700);
}
.header .az-rol[data-v-408d679c], .az-roe[data-v-408d679c] {
  height: 100%;
}.example .show .az-rol[data-v-cc35cede] {
  background-color: var(--grey-color-A100);
  margin-bottom: 10px;
}
.example .show .az-rol .az-roe div[data-v-cc35cede] {
  height: 36px;
  background-color: var(--blue-grey-color-A100);
  text-align: center;
  line-height: 36px;
  font-size: 1.5rem;
  border-radius: 5px;
  color: var(--blue-grey-color-A700);
}
.example .show .az-rol .az-roe:nth-child(2n) div[data-v-cc35cede] {
  background-color: var(--light-blue-color-100);
}.list[data-v-4b79068f] {
  height: 50px;
  background: var(--light-blue-color-50);
}
.line[data-v-4b79068f],
.line .flex-grid[data-v-4b79068f] {
  height: 100%;
  border-radius: 10px;
}
.line:nth-child(1n) .flex-grid[data-v-4b79068f] {
  background-color: var(--brown-color-100);
}
.line:nth-child(2n) .flex-grid[data-v-4b79068f] {
  background-color: var(--blue-grey-color-100);
}
.icons[data-v-4b79068f] {
  font-size: 2rem;
}
.ddd[data-v-4b79068f] {
  margin-bottom: 50px;
}.iconBox[data-v-7233abee] {
  margin-top: 15px;
}
.iconBox .box[data-v-7233abee] {
  box-sizing: border-box;
  border-radius: 5px;
  border: 1px solid var(--grey-color-300);
  overflow: hidden;
  min-width: 75px;
  min-height: 75px;
  max-width: 102px;
  max-height: 107px;
  cursor: pointer;
  color: var(--grey-color-800);
}
.iconBox .box[data-v-7233abee]:hover {
  border: 1px solid var(--light-blue-color-400);
  color: 1px solid var(--light-blue-color-400);
}
.iconBox .icons[data-v-7233abee] {
  min-width: 75px;
  padding-top: 3px;
  font-size: 2.1rem;
  text-align: center;
  min-width: 75px;
  max-width: 102px;
}
.iconBox .value[data-v-7233abee] {
  font-size: 0.8rem;
  word-break: keep-all;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: center;
  min-width: 75px;
  max-width: 102px;
}.example .az-switch[data-v-f4ba7d5d] {
  margin: 10px;
}
#SwitchBox[data-v-f4ba7d5d] {
  color: var(--grey-color-900);
}.warp[data-v-56e91a93] {
  height: 100%;
  overflow: hidden;
}
.warp .line[data-v-56e91a93] {
  width: 5.2631578947%;
  height: 100%;
  float: left;
}
.warp .line button[data-v-56e91a93] {
  width: 100%;
  height: 7.1428571429%;
  border: none;
  outline: none;
  margin: 0;
  padding: 0;
  cursor: pointer;
  border-radius: 0;
  text-align: center;
}
.warp .line button[data-v-56e91a93]:hover {
  filter: brightness(120%);
}
.warp .line button span[data-v-56e91a93] {
  color: #f1f1f1;
  text-shadow: rgba(0, 0, 0, 0.5) 1px 0 0, rgba(0, 0, 0, 0.5) 0 1px 0, rgba(0, 0, 0, 0.5) -1px 0 0, rgba(0, 0, 0, 0.5) 0 -1px 0;
}
.warp .line button:hover span[data-v-56e91a93] {
  font-size: 1.2rem;
  text-shadow: rgba(0, 0, 0, 0.8) 2px 0 0, rgba(0, 0, 0, 0.8) 0 2px 0, rgba(0, 0, 0, 0.8) -2px 0 0, rgba(0, 0, 0, 0.8) 0 -2px 0;
}.example .az-roe div[data-v-70a11343] {
  padding: 8px 0;
}.az-checkbox-button[data-v-8491f1f2] {
  margin-right: 8px;
  margin-bottom: 8px;
}.show .box[data-v-dab89b25] {
  padding: 30px 0;
}
.az-collapse-item-content div[data-v-dab89b25] {
  color: var(--grey-color-600);
  padding: 0 10px;
}pre code.hljs {
  display: block;
  overflow-x: auto;
  padding: 1em
}
code.hljs {
  padding: 3px 5px
}
/*!
  Theme: GitHub
  Description: Light theme as seen on github.com
  Author: github.com
  Maintainer: @Hirse
  Updated: 2021-05-15

  Outdated base version: https://github.com/primer/github-syntax-light
  Current colors taken from GitHub's CSS
*/
.hljs {
  color: #24292e;
  background: #ffffff
}
.hljs-doctag,
.hljs-keyword,
.hljs-meta .hljs-keyword,
.hljs-template-tag,
.hljs-template-variable,
.hljs-type,
.hljs-variable.language_ {
  /* prettylights-syntax-keyword */
  color: #d73a49
}
.hljs-title,
.hljs-title.class_,
.hljs-title.class_.inherited__,
.hljs-title.function_ {
  /* prettylights-syntax-entity */
  color: #6f42c1
}
.hljs-attr,
.hljs-attribute,
.hljs-literal,
.hljs-meta,
.hljs-number,
.hljs-operator,
.hljs-variable,
.hljs-selector-attr,
.hljs-selector-class,
.hljs-selector-id {
  /* prettylights-syntax-constant */
  color: #005cc5
}
.hljs-regexp,
.hljs-string,
.hljs-meta .hljs-string {
  /* prettylights-syntax-string */
  color: #032f62
}
.hljs-built_in,
.hljs-symbol {
  /* prettylights-syntax-variable */
  color: #e36209
}
.hljs-comment,
.hljs-code,
.hljs-formula {
  /* prettylights-syntax-comment */
  color: #6a737d
}
.hljs-name,
.hljs-quote,
.hljs-selector-tag,
.hljs-selector-pseudo {
  /* prettylights-syntax-entity-tag */
  color: #22863a
}
.hljs-subst {
  /* prettylights-syntax-storage-modifier-import */
  color: #24292e
}
.hljs-section {
  /* prettylights-syntax-markup-heading */
  color: #005cc5;
  font-weight: bold
}
.hljs-bullet {
  /* prettylights-syntax-markup-list */
  color: #735c0f
}
.hljs-emphasis {
  /* prettylights-syntax-markup-italic */
  color: #24292e;
  font-style: italic
}
.hljs-strong {
  /* prettylights-syntax-markup-bold */
  color: #24292e;
  font-weight: bold
}
.hljs-addition {
  /* prettylights-syntax-markup-inserted */
  color: #22863a;
  background-color: #f0fff4
}
.hljs-deletion {
  /* prettylights-syntax-markup-deleted */
  color: #b31d28;
  background-color: #ffeef0
}
.hljs-char.escape_,
.hljs-link,
.hljs-params,
.hljs-property,
.hljs-punctuation,
.hljs-tag {
  /* purposely ignored */
  
}#app {
  width: 100%;
  margin: 0 auto;
  text-align: center;
  aspect-ratio:16/9;
  height: calc(100vh - 1rem)
}
:root {
  /* Red */
  --red-color-50: #FFEBEE;
  --red-color-100: #FFCDD2;
  --red-color-200: #EF9A9A;
  --red-color-300: #E57373;
  --red-color-400: #EF5350;
  --red-color-500: #F44336;
  --red-color-600: #E53935;
  --red-color-700: #D32F2F;
  --red-color-800: #C62828;
  --red-color-900: #B71C1C;
  --red-color-A100: #FF8A80;
  --red-color-A200: #FF5252;
  --red-color-A400: #FF1744;
  --red-color-A700: #D50000;

  /* Pink */
  --pink-color-50: #FCE4EC;
  --pink-color-100: #F8BBD0;
  --pink-color-200: #F48FB1;
  --pink-color-300: #F06292;
  --pink-color-400: #EC407A;
  --pink-color-500: #E91E63;
  --pink-color-600: #D81B60;
  --pink-color-700: #C2185B;
  --pink-color-800: #AD1457;
  --pink-color-900: #880E4F;
  --pink-color-A100: #FF80AB;
  --pink-color-A200: #FF4081;
  --pink-color-A400: #F50057;
  --pink-color-A700: #C51162;

  /* Purple */
  --purple-color-50: #F3E5F5;
  --purple-color-100: #E1BEE7;
  --purple-color-200: #CE93D8;
  --purple-color-300: #BA68C8;
  --purple-color-400: #AB47BC;
  --purple-color-500: #9C27B0;
  --purple-color-600: #8E24AA;
  --purple-color-700: #7B1FA2;
  --purple-color-800: #6A1B9A;
  --purple-color-900: #4A148C;
  --purple-color-A100: #EA80FC;
  --purple-color-A200: #E040FB;
  --purple-color-A400: #D500F9;
  --purple-color-A700: #AA00FF;

  /* Deep Purple */
  --deep-purple-color-50: #EDE7F6;
  --deep-purple-color-100: #D1C4E9;
  --deep-purple-color-200: #B39DDB;
  --deep-purple-color-300: #9575CD;
  --deep-purple-color-400: #7E57C2;
  --deep-purple-color-500: #673AB7;
  --deep-purple-color-600: #5E35B1;
  --deep-purple-color-700: #512DA8;
  --deep-purple-color-800: #4527A0;
  --deep-purple-color-900: #311B92;
  --deep-purple-color-A100: #B388FF;
  --deep-purple-color-A200: #7C4DFF;
  --deep-purple-color-A400: #651FFF;
  --deep-purple-color-A700: #6200EA;

  /* Indigo */
  --indigo-color-50: #E8EAF6;
  --indigo-color-100: #C5CAE9;
  --indigo-color-200: #9FA7E4;
  --indigo-color-300: #7986CB;
  --indigo-color-400: #5C6BC0;
  --indigo-color-500: #3F51B5;
  --indigo-color-600: #3949AB;
  --indigo-color-700: #303F9F;
  --indigo-color-800: #283593;
  --indigo-color-900: #1A237E;
  --indigo-color-A100: #8C9EFF;
  --indigo-color-A200: #536DFE;
  --indigo-color-A400: #3D5AFE;
  --indigo-color-A700: #304FFE;

  /* Blue */
  --blue-color-50: #E3F2FD;
  --blue-color-100: #BBDEFB;
  --blue-color-200: #90CAF9;
  --blue-color-300: #64B5F6;
  --blue-color-400: #42A5F5;
  --blue-color-500: #2196F3;
  --blue-color-600: #1E88E5;
  --blue-color-700: #1976D2;
  --blue-color-800: #1565C0;
  --blue-color-900: #0D47A1;
  --blue-color-A100: #82B1FF;
  --blue-color-A200: #448AFF;
  --blue-color-A400: #2979FF;
  --blue-color-A700: #2962FF;

  /* Light Blue */
  --light-blue-color-50: #E1F5FE;
  --light-blue-color-100: #B3E5FC;
  --light-blue-color-200: #81D4FA;
  --light-blue-color-300: #4FC3F7;
  --light-blue-color-400: #29B6F6;
  --light-blue-color-500: #03A9F4;
  --light-blue-color-600: #039BE5;
  --light-blue-color-700: #0288D1;
  --light-blue-color-800: #0277BD;
  --light-blue-color-900: #01579B;
  --light-blue-color-A100: #80D8FF;
  --light-blue-color-A200: #40C4FF;
  --light-blue-color-A400: #00B0FF;
  --light-blue-color-A700: #0091EA;

  /* Cyan */
  --cyan-color-50: #E0F7FA;
  --cyan-color-100: #B2EBF2;
  --cyan-color-200: #80DEEA;
  --cyan-color-300: #4DD0E1;
  --cyan-color-400: #26C6DA;
  --cyan-color-500: #00BCD4;
  --cyan-color-600: #00ACC1;
  --cyan-color-700: #0097A7;
  --cyan-color-800: #00838F;
  --cyan-color-900: #006064;
  --cyan-color-A100: #84FFFF;
  --cyan-color-A200: #18FFFF;
  --cyan-color-A400: #00E5FF;
  --cyan-color-A700: #00B8D4;

  /* Teal */
  --teal-color-50: #E0F2F1;
  --teal-color-100: #B2DFDB;
  --teal-color-200: #80CBC4;
  --teal-color-300: #4DB6AC;
  --teal-color-400: #26A69A;
  --teal-color-500: #009688;
  --teal-color-600: #00897B;
  --teal-color-700: #00796B;
  --teal-color-800: #00695C;
  --teal-color-900: #004D40;
  --teal-color-A100: #A7FFEB;
  --teal-color-A200: #64FFDA;
  --teal-color-A400: #1DE9B6;
  --teal-color-A700: #00BFA5;

  /* Green */
  --green-color-50: #E8F5E9;
  --green-color-100: #C8E6C9;
  --green-color-200: #A5D6A7;
  --green-color-300: #81C784;
  --green-color-400: #66BB6A;
  --green-color-500: #4CAF50;
  --green-color-600: #43A047;
  --green-color-700: #388E3C;
  --green-color-800:#2E7D32;
  --green-color-900: #1B5E20;
  --green-color-A100: #B9F6CA;
  --green-color-A200: #69F0AE;
  --green-color-A400: #00E676;
  --green-color-A700: #00C853;

  /* Light Green */
--light-green-color-50: #F1F8E9;
--light-green-color-100: #DCEDC8;
--light-green-color-200: #C5E1A5;
--light-green-color-300: #AED581;
--light-green-color-400: #9CCC65;
--light-green-color-500: #8BC34A;
--light-green-color-600: #7CB342;
--light-green-color-700: #689F38;
--light-green-color-800: #558B2F;
--light-green-color-900: #33691E;
--light-green-color-A100: #CCFF90;
--light-green-color-A200: #B2FF59;
--light-green-color-A400: #76FF03;
--light-green-color-A700: #64DD17;

/* Lime */
--lime-color-50: #F9FBE7;
--lime-color-100: #F0F4C3;
--lime-color-200: #E6EE9C;
--lime-color-300: #DCE775;
--lime-color-400: #D4E157;
--lime-color-500: #CDBE2B;
--lime-color-600: #C0AA1D;
--lime-color-700: #AF9E15;
--lime-color-800: #9C880B;
--lime-color-900: #827717;
--lime-color-A100: #F4FF81;
--lime-color-A200: #EEFF41;
--lime-color-A400: #C6FF00;
--lime-color-A700: #AEEA00;

/* Yellow */
--yellow-color-50: #FFFDE7;
--yellow-color-100: #FFF9C4;
--yellow-color-200: #FFF59D;
--yellow-color-300: #FFF176;
--yellow-color-400: #FFEE58;
--yellow-color-500: #FFEB3B;
--yellow-color-600: #FDD835;
--yellow-color-700: #FBC02D;
--yellow-color-800: #F9A825;
--yellow-color-900: #F57F17;
--yellow-color-A100: #FFFF8D;
--yellow-color-A200: #FFFF00;
--yellow-color-A400: #FFEA00;
--yellow-color-A700: #FFD600;

/* Amber */
--amber-color-50: #FFF8E1;
--amber-color-100: #FFECB3;
--amber-color-200: #FFE082;
--amber-color-300: #FFD54F;
--amber-color-400: #FFCA28;
--amber-color-500: #FFC107;
--amber-color-600: #FFB300;
--amber-color-700: #FFA000;
--amber-color-800: #FF8F00;
--amber-color-900: #FF6F00;
--amber-color-A100: #FFE57F;
--amber-color-A200: #FFD740;
--amber-color-A400: #FFC400;
--amber-color-A700: #FFAB00;

/* Orange */
--orange-color-50: #FFF3E0;
--orange-color-100: #FFE0B2;
--orange-color-200: #FFCC80;
--orange-color-300: #FFB74D;
--orange-color-400: #FFA726;
--orange-color-500: #FF9800;
--orange-color-600: #FB8C00;
--orange-color-700: #F57C00;
--orange-color-800: #EF6C00;
--orange-color-900: #E65100;
--orange-color-A100: #FFD180;
--orange-color-A200: #FFAB40;
--orange-color-A400: #FF9100;
--orange-color-A700: #FF6D00;

/* Deep Orange */
--deep-orange-color-50: #FBE9E7;
--deep-orange-color-100: #FFCCBC;
--deep-orange-color-200: #FFAB91;
--deep-orange-color-300: #FF8A65;
--deep-orange-color-400: #FF7043;
--deep-orange-color-500: #FF5722;
--deep-orange-color-600: #F4511E;
--deep-orange-color-700: #E64A19;
--deep-orange-color-800: #D84315;
--deep-orange-color-900: #BF360C;
--deep-orange-color-A100: #FF9E80;
--deep-orange-color-A200: #FF6E40;
--deep-orange-color-A400: #FF3D00;
--deep-orange-color-A700: #DD2C00;

/* Brown */
--brown-color-50: #EFEBE9;
--brown-color-100: #D7CCC8;
--brown-color-200: #BCAAA4;
--brown-color-300: #A1887F;
--brown-color-400: #8D6E63;
--brown-color-500: #795548;
--brown-color-600: #6D4C41;
--brown-color-700: #5D4037;
--brown-color-800: #4E342E;
--brown-color-900: #3E2723;
--brown-color-A100: #D7CCC8;
--brown-color-A200: #8D6E63;
--brown-color-A400: #6D4C41;
--brown-color-A700: #4E342E;

/* Grey */
--grey-color-50: #FAFAFA;
--grey-color-100: #F5F5F5;
--grey-color-200: #EEEEEE;
--grey-color-300: #E0E0E0;
--grey-color-400: #BDBDBD;
--grey-color-500: #9E9E9E;
--grey-color-600: #757575;
--grey-color-700: #616161;
--grey-color-800: #424242;
--grey-color-900: #212121;
--grey-color-A100: #F5F5F5;
--grey-color-A200: #BDBDBD;
--grey-color-A400: #757575;
--grey-color-A700: #212121;
--grey-color-50A:rgba(250, 250, 250,0.5);

/* BlueGreyGrey */
--blue-grey-color-50:#ECEFF1;
  --blue-grey-color-100:#CFD8DC;
  --blue-grey-color-200:#B0BEC5;
  --blue-grey-color-300:#90A4AE;
  --blue-grey-color-400:#78909C;
  --blue-grey-color-500:#607D8B;
  --blue-grey-color-600:#546E7A;
  --blue-grey-color-700:#455A64;
  --blue-grey-color-800:#37474F;
  --blue-grey-color-900:#263238;
  --blue-grey-color-A100:#CFD8DC;
  --blue-grey-color-A200:#78909C;
  --blue-grey-color-A400:#546E7A;
  --blue-grey-color-A700:#37474F;
}
/* 深色主题变量 */
.dark {
  /* Red */
  --red-color-50: #B71C1C;
  --red-color-100: #C62828;
  --red-color-200: #D32F2F;
  --red-color-300: #E53935;
  --red-color-400: #EF5350;
  --red-color-500: #F44336;
  --red-color-600: #E57373;
  --red-color-700: #EF9A9A;
  --red-color-800: #FFCDD2;
  --red-color-900: #FFEBEE;
  --red-color-A100: #D50000;
  --red-color-A200: #FF1744;
  --red-color-A400: #FF5252;
  --red-color-A700: #FF8A80;

  /* Pink */
  --pink-color-50: #880E4F;
  --pink-color-100: #AD1457;
  --pink-color-200: #C2185B;
  --pink-color-300: #D81B60;
  --pink-color-400: #EC407A;
  --pink-color-500: #E91E63;
  --pink-color-600: #F06292;
  --pink-color-700: #F48FB1;
  --pink-color-800: #F8BBD0;
  --pink-color-900: #FCE4EC;
  --pink-color-A100: #C51162;
  --pink-color-A200: #F50057;
  --pink-color-A400: #FF4081;
  --pink-color-A700: #FF80AB;

  /* Purple */
  --purple-color-50: #4A148C;
  --purple-color-100: #6A1B9A;
  --purple-color-200: #7B1FA2;
  --purple-color-300: #8E24AA;
  --purple-color-400: #AB47BC;
  --purple-color-500: #9C27B0;
  --purple-color-600: #BA68C8;
  --purple-color-700: #CE93D8;
  --purple-color-800: #E1BEE7;
  --purple-color-900: #F3E5F5;
  --purple-color-A100: #AA00FF;
  --purple-color-A200: #D500F9;
  --purple-color-A400: #E040FB;
  --purple-color-A700: #EA80FC;

  /* Deep Purple */
  --deep-purple-color-50: #311B92;
  --deep-purple-color-100: #4527A0;
  --deep-purple-color-200: #512DA8;
  --deep-purple-color-300: #5E35B1;
  --deep-purple-color-400: #7E57C2;
  --deep-purple-color-500: #673AB7;
  --deep-purple-color-600: #9575CD;
  --deep-purple-color-700: #B39DDB;
  --deep-purple-color-800: #D1C4E9;
  --deep-purple-color-900: #EDE7F6;
  --deep-purple-color-A100: #6200EA;
  --deep-purple-color-A200: #651FFF;
  --deep-purple-color-A400: #7C4DFF;
  --deep-purple-color-A700: #B388FF;

  /* Indigo */
  --indigo-color-50: #1A237E;
  --indigo-color-100: #283593;
  --indigo-color-200: #303F9F;
  --indigo-color-300: #3949AB;
  --indigo-color-400: #5C6BC0;
  --indigo-color-500: #3F51B5;
  --indigo-color-600: #7986CB;
  --indigo-color-700: #9FA7E4;
  --indigo-color-800: #C5CAE9;
  --indigo-color-900: #E8EAF6;
  --indigo-color-A100: #304FFE;
  --indigo-color-A200: #3D5AFE;
  --indigo-color-A400: #536DFE;
  --indigo-color-A700: #8C9EFF;

  /* Blue */
  --blue-color-50: #0D47A1;
  --blue-color-100: #1565C0;
  --blue-color-200: #1976D2;
  --blue-color-300: #1E88E5;
  --blue-color-400: #42A5F5;
  --blue-color-500: #2196F3;
  --blue-color-600: #64B5F6;
  --blue-color-700: #90CAF9;
  --blue-color-800: #BBDEFB;
  --blue-color-900: #E3F2FD;
  --blue-color-A100: #2962FF;
  --blue-color-A200: #2979FF;
  --blue-color-A400: #448AFF;
  --blue-color-A700: #82B1FF;

  /* Light Blue */
  --light-blue-color-50: #01579B;
  --light-blue-color-100: #0277BD;
  --light-blue-color-200: #0288D1;
  --light-blue-color-300: #039BE5;
  --light-blue-color-400: #29B6F6;
  --light-blue-color-500: #03A9F4;
  --light-blue-color-600: #4FC3F7;
  --light-blue-color-700: #81D4FA;
  --light-blue-color-800: #B3E5FC;
  --light-blue-color-900: #E1F5FE;
  --light-blue-color-A100: #0091EA;
  --light-blue-color-A200: #00B0FF;
  --light-blue-color-A400: #40C4FF;
  --light-blue-color-A700: #80D8FF;

  /* Cyan */
  --cyan-color-50: #006064;
  --cyan-color-100: #00838F;
  --cyan-color-200: #0097A7;
  --cyan-color-300: #00ACC1;
  --cyan-color-400: #26C6DA;
  --cyan-color-500: #00BCD4;
  --cyan-color-600: #4DD0E1;
  --cyan-color-700: #80DEEA;
  --cyan-color-800: #B2EBF2;
  --cyan-color-900: #E0F7FA;
  --cyan-color-A100: #00B8D4;
  --cyan-color-A200: #00E5FF;
  --cyan-color-A400: #18FFFF;
  --cyan-color-A700: #84FFFF;

  /* Teal */
--teal-color-50: #004D40;
--teal-color-100: #00695C;
--teal-color-200: #00796B;
--teal-color-300: #00897B;
--teal-color-400: #26A69A;
--teal-color-500: #009688;
--teal-color-600: #4DB6AC;
--teal-color-700: #80CBC4;
--teal-color-800: #B2DFDB;
--teal-color-900: #E0F2F1;
--teal-color-A100: #00BFA5;
--teal-color-A200: #1DE9B6;
--teal-color-A400: #64FFDA;
--teal-color-A700: #A7FFEB;

/* Green */
--green-color-50: #1B5E20;
--green-color-100: #2E7D32;
--green-color-200: #388E3C;
--green-color-300: #43A047;
--green-color-400: #66BB6A;
--green-color-500: #4CAF50;
--green-color-600: #81C784;
--green-color-700: #A5D6A7;
--green-color-800: #C8E6C9;
--green-color-900: #E8F5E9;
--green-color-A100: #00C853;
--green-color-A200: #00E676;
--green-color-A400: #69F0AE;
--green-color-A700: #B9F6CA;

/* Light Green */
--light-green-color-50: #33691E;
--light-green-color-100: #558B2F;
--light-green-color-200: #689F38;
--light-green-color-300: #7CB342;
--light-green-color-400: #9CCC65;
--light-green-color-500: #8BC34A;
--light-green-color-600: #AED581;
--light-green-color-700: #C5E1A5;
--light-green-color-800: #DCEDC8;
--light-green-color-900: #F1F8E9;
--light-green-color-A100: #64DD17;
--light-green-color-A200: #76FF03;
--light-green-color-A400: #B2FF59;
--light-green-color-A700: #CCFF90;

/* Lime */
--lime-color-50: #827717;
--lime-color-100: #9C880B;
--lime-color-200: #AF9E15;
--lime-color-300: #C0AA1D;
--lime-color-400: #D4E157;
--lime-color-500: #CDDC39;
--lime-color-600: #DCE775;
--lime-color-700: #E6EE9C;
--lime-color-800: #F0F4C3;
--lime-color-900: #F9FBE7;
--lime-color-A100: #AEEA00;
--lime-color-A200: #C6FF00;
--lime-color-A400: #EEFF41;
--lime-color-A700: #F4FF81;

/* Yellow */
--yellow-color-50: #F57F17;
--yellow-color-100: #F9A825;
--yellow-color-200: #FBC02D;
--yellow-color-300: #FDD835;
--yellow-color-400: #FFEB3B;
--yellow-color-500: #FFEB3B;
--yellow-color-600: #FFEE58;
--yellow-color-700: #FFF176;
--yellow-color-800: #FFF59D;
--yellow-color-900: #FFF9C4;
--yellow-color-A100: #FFD600;
--yellow-color-A200: #FFEA00;
--yellow-color-A400: #FFFF00;
--yellow-color-A700: #FFFF8D;

/* Amber */
--amber-color-50: #FF6F00;
--amber-color-100: #FF8F00;
--amber-color-200: #FFA000;
--amber-color-300: #FFB300;
--amber-color-400: #FFC107;
--amber-color-500: #FFCA28;
--amber-color-600: #FFD54F;
--amber-color-700: #FFF59D;
--amber-color-800: #FFECB3;
--amber-color-900: #FFF8E1;
--amber-color-A100: #FFAB00;
--amber-color-A200: #FFC400;
--amber-color-A400: #FFD740;
--amber-color-A700: #FFE57F;

/* Orange */
--orange-color-50: #E65100;
--orange-color-100: #EF6C00;
--orange-color-200: #F57C00;
--orange-color-300: #FB8C00;
--orange-color-400: #FF9800;
--orange-color-500: #FFA726;
--orange-color-600: #FFB74D;
--orange-color-700: #FFCC80;
--orange-color-800: #FFE0B2;
--orange-color-900: #FFF3E0;
--orange-color-A100: #FF6D00;
--orange-color-A200: #FF9100;
--orange-color-A400: #FFAB40;
--orange-color-A700: #FFD180;

/* Deep Orange */
--deep-orange-color-50: #BF360C;
--deep-orange-color-100: #D84315;
--deep-orange-color-200: #E64A19;
--deep-orange-color-300: #F4511E;
--deep-orange-color-400: #FF5722;
--deep-orange-color-500: #FF7043;
--deep-orange-color-600: #FF8A65;
--deep-orange-color-700: #FFAB91;
--deep-orange-color-800: #FFCCBC;
--deep-orange-color-900: #FBE9E7;
--deep-orange-color-A100: #DD2C00;
--deep-orange-color-A200: #FF3D00;
--deep-orange-color-A400: #FF6E40;
--deep-orange-color-A700: #FF9E80;

/* Brown */
  --brown-color-50: #3E2723;
  --brown-color-100: #4E342E;
  --brown-color-200: #5D4037;
  --brown-color-300: #6D4C41;
  --brown-color-400: #795548;
  --brown-color-500: #8D6E63;
  --brown-color-600: #A1887F;
  --brown-color-700: #BCAAA4;
  --brown-color-800: #D7CCC8;
  --brown-color-900: #EFEBE9;
  --brown-color-A100: #6D4C41;
  --brown-color-A200: #8D6E63;
  --brown-color-A400: #BCAAA4;
  --brown-color-A700: #D7CCC8;

  /* Grey */
  --grey-color-50: #212121;
  --grey-color-100: #424242;
  --grey-color-200: #616161;
  --grey-color-300: #757575;
  --grey-color-400: #9E9E9E;
  --grey-color-500: #9E9E9E;
  --grey-color-600: #BDBDBD;
  --grey-color-700: #E0E0E0;
  --grey-color-800: #EEEEEE;
  --grey-color-900: #F5F5F5;
  --grey-color-A700: #E0E0E0;
  --grey-color-A400: #BDBDBD;
  --grey-color-A200: #9E9E9E;
  --grey-color-A100: #757575;
  --grey-color-50A:rgba(33, 33, 33,0.5);

  /* BlueGrey */
  --blue-grey-color-50: #263238;
  --blue-grey-color-100: #37474F;
  --blue-grey-color-200: #455A64;
  --blue-grey-color-300: #546E7A;
  --blue-grey-color-400: #78909C;
  --blue-grey-color-500: #607D8B;
  --blue-grey-color-600: #90A4AE;
  --blue-grey-color-700: #B0BEC5;
  --blue-grey-color-800: #CFD8DC;
  --blue-grey-color-900: #ECEFF1;
  --blue-grey-color-A100: #546E7A;
  --blue-grey-color-A200: #78909C;
  --blue-grey-color-A400: #90A4AE;
  --blue-grey-color-A700: #CFD8DC;
}button[data-v-6dfb0300]{outline:none;border:0;background:none;cursor:pointer;color:var(--grey-color-600);padding:6px 12px;font-size:1rem;transition:all .2s;box-sizing:border-box}button.az-button[data-v-6dfb0300]{padding:6px 12px;border-radius:4px;border:1px solid;position:relative}button.az-button[data-v-6dfb0300]:hover{filter:contrast(160%)}.dark button.az-button[data-v-6dfb0300]:hover{filter:brightness(75%)}button.az-button.plain[data-v-6dfb0300]:hover{filter:brightness(100%)!important}button.az-button.az-button-disabled[data-v-6dfb0300]{cursor:not-allowed;background-image:none;filter:opacity(50%)}button.az-button .az-icona[data-v-6dfb0300]{margin-right:5px;margin-left:5px}button.az-button.round[data-v-6dfb0300]{border-radius:25px}.az-button-default[data-v-6dfb0300]{background-color:var(--grey-color-50);border-color:var(--grey-color-500);color:var(--grey-color-700)}.az-button-default.plain[data-v-6dfb0300]{background-color:#fafafa;border-color:var(--grey-color-500);color:var(--grey-color-700)}.az-button-default[data-v-6dfb0300]:hover{border-color:var(--blue-color-500);color:var(--blue-color-500);filter:brightness(100%)!important}.dark .az-button-default[data-v-6dfb0300]:hover{filter:brightness(100%)!important}.az-button-default.az-button-disabled[data-v-6dfb0300]:hover{background-color:var(--grey-color-50)!important;border-color:var(--grey-color-500)!important;color:var(--grey-color-700)!important;filter:opacity(50%)}.az-button-primary[data-v-6dfb0300]{background-color:var(--blue-color-500);border-color:var(--blue-grey-color-50);color:#fff}.az-button-primary.plain[data-v-6dfb0300]{background-color:#e3f2fd;border-color:var(--blue-color-500);color:var(--blue-color-700)}.az-button-primary.plain[data-v-6dfb0300]:hover{background-color:var(--blue-color-500);color:#f1f1f1}.az-button-success[data-v-6dfb0300]{background-color:var(--green-color-500);border-color:var(--blue-grey-color-50);color:#fff}.az-button-success.plain[data-v-6dfb0300]{background-color:#e8f5e9;border-color:var(--green-color-500);color:var(--green-color-A700)}.az-button-success.plain[data-v-6dfb0300]:hover{background-color:var(--green-color-500);color:#f1f1f1}.az-button-info[data-v-6dfb0300]{background-color:var(--grey-color-500);border-color:var(--blue-grey-color-50);color:#fff}.az-button-info.plain[data-v-6dfb0300]{background-color:#fafafa;border-color:var(--grey-color-500);color:var(--grey-color-A700)}.az-button-info.plain[data-v-6dfb0300]:hover{background-color:var(--grey-color-500);color:#f1f1f1}.az-button-warning[data-v-6dfb0300]{background-color:var(--orange-color-500);border-color:var(--blue-grey-color-50);color:#fff}.az-button-warning.plain[data-v-6dfb0300]{background-color:#fff3e0;border-color:var(--orange-color-500);color:var(--orange-color-A700)}.az-button-warning.plain[data-v-6dfb0300]:hover{background-color:var(--orange-color-500);color:#f1f1f1}.az-button-danger[data-v-6dfb0300]{background-color:var(--red-color-500);border-color:var(--blue-grey-color-50);color:#fff}.az-button-danger.plain[data-v-6dfb0300]{background-color:#ffebee;border-color:var(--red-color-500);color:var(--red-color-A700)}.az-button-danger.plain[data-v-6dfb0300]:hover{background-color:var(--red-color-500);color:#f1f1f1}input[data-v-b890b15c]{padding:0;border:0;background:none;outline:none}input.az-input[data-v-b890b15c]{border:1px solid #b4b0b0;border-radius:3px;flex-grow:1;color:#0f0f0f;font-size:14px;padding:5px}.icon[data-v-d86a2b08]{transition:all .1s;width:1em;height:1em;vertical-align:-.15em;fill:currentColor;overflow:hidden;color:var(--grey-color-700)}.az-icona.az-icona-loader[data-v-3a89322f]{width:10px;display:inline-block;aspect-ratio:1;border-radius:50%;border:2px solid lightblue;border-right-color:#000;animation:l2-3a89322f 1s infinite linear}@keyframes l2-3a89322f{to{transform:rotate(1turn)}}.az-rol[data-v-045ed97a]{display:flex;flex-wrap:wrap;position:relative;box-sizing:border-box;overflow-x:hidden}.az-rol.direction-row[data-v-045ed97a]{flex-direction:row}.az-rol.direction-row-reverse[data-v-045ed97a]{flex-direction:row-reverse}.az-rol.direction-column[data-v-045ed97a]{flex-direction:column}.az-rol.direction-column-reverse[data-v-045ed97a]{flex-direction:column-reverse}.az-rol.wrap-nowrap[data-v-045ed97a]{flex-wrap:nowrap}.az-rol.wrap-wrap[data-v-045ed97a]{flex-wrap:wrap}.az-rol.wrap-wrap-reverse[data-v-045ed97a]{flex-wrap:wrap-reverse}.az-rol.jcontent-flex-start[data-v-045ed97a]{justify-content:flex-start}.az-rol.jcontent-flex-end[data-v-045ed97a]{justify-content:flex-end}.az-rol.jcontent-center[data-v-045ed97a]{justify-content:center}.az-rol.jcontent-space-between[data-v-045ed97a]{justify-content:space-between}.az-rol.jcontent-space-around[data-v-045ed97a]{justify-content:space-around}.az-rol.items-flex-start[data-v-045ed97a]{align-items:flex-start}.az-rol.items-flex-end[data-v-045ed97a]{align-items:flex-end}.az-rol.items-center[data-v-045ed97a]{align-items:center}.az-rol.items-baseline[data-v-045ed97a]{align-items:baseline}.az-rol.items-stretch[data-v-045ed97a]{align-items:stretch}.az-rol.align-flex-start[data-v-045ed97a]{align-content:flex-start}.az-rol.align-flex-end[data-v-045ed97a]{align-content:flex-end}.az-rol.align-center[data-v-045ed97a]{align-content:center}.az-rol.align-space-between[data-v-045ed97a]{align-content:space-between}.az-rol.align-space-around[data-v-045ed97a]{align-content:space-around}.az-rol.align-stretch[data-v-045ed97a]{align-content:stretch}.az-roe[data-v-8ea1934d]{box-sizing:border-box}.az-roe.az-roe-1[data-v-8ea1934d]{max-width:5%;flex:0 0 5%}.az-roe.az-roe-2[data-v-8ea1934d]{max-width:10%;flex:0 0 10%}.az-roe.az-roe-3[data-v-8ea1934d]{max-width:15%;flex:0 0 15%}.az-roe.az-roe-4[data-v-8ea1934d]{max-width:20%;flex:0 0 20%}.az-roe.az-roe-5[data-v-8ea1934d]{max-width:25%;flex:0 0 25%}.az-roe.az-roe-6[data-v-8ea1934d]{max-width:30%;flex:0 0 30%}.az-roe.az-roe-7[data-v-8ea1934d]{max-width:35%;flex:0 0 35%}.az-roe.az-roe-8[data-v-8ea1934d]{max-width:40%;flex:0 0 40%}.az-roe.az-roe-9[data-v-8ea1934d]{max-width:45%;flex:0 0 45%}.az-roe.az-roe-10[data-v-8ea1934d]{max-width:50%;flex:0 0 50%}.az-roe.az-roe-11[data-v-8ea1934d]{max-width:55%;flex:0 0 55%}.az-roe.az-roe-12[data-v-8ea1934d]{max-width:60%;flex:0 0 60%}.az-roe.az-roe-13[data-v-8ea1934d]{max-width:65%;flex:0 0 65%}.az-roe.az-roe-14[data-v-8ea1934d]{max-width:70%;flex:0 0 70%}.az-roe.az-roe-15[data-v-8ea1934d]{max-width:75%;flex:0 0 75%}.az-roe.az-roe-16[data-v-8ea1934d]{max-width:80%;flex:0 0 80%}.az-roe.az-roe-17[data-v-8ea1934d]{max-width:85%;flex:0 0 85%}.az-roe.az-roe-18[data-v-8ea1934d]{max-width:90%;flex:0 0 90%}.az-roe.az-roe-19[data-v-8ea1934d]{max-width:95%;flex:0 0 95%}.az-roe.az-roe-20[data-v-8ea1934d]{max-width:100%;flex:0 0 100%}.az-switch_checkbox[data-v-2a63a441]{display:none;opacity:0;visibility:hidden}.az-switch-core[data-v-2a63a441]{display:inline-flex;position:relative;align-items:center;flex:1;min-width:45px;max-width:55px;height:24px;outline:none;border-radius:15px;box-sizing:border-box;border-color:var(--grey-color-300);background-color:var(--grey-color-300);color:var(--grey-color-800)}.az-switch-action[data-v-2a63a441]{position:absolute;background-color:#fff;width:19px;height:19px;border-radius:50%;top:50%;left:5%;transform:translateY(-50%);z-index:10}.az-switch[data-v-2a63a441]{display:inline-flex;cursor:pointer;flex:0 0 10;align-items:center;position:relative;font-size:14px;line-height:24px;height:100%;vertical-align:middle;width:auto}.az-switch.az-switch-checked .az-switch-core[data-v-2a63a441]{background:var(--blue-color-500);border:1px solid var(--blue-color-500)}.az-switch.az-switch-checked .az-switch-action[data-v-2a63a441]{top:50%;right:50%;transform:translate(100%,-50%)}.az-switch.az-switch-disabled[data-v-2a63a441]{cursor:not-allowed}.az-switch .az-switch-value[data-v-2a63a441],.az-switch .icon[data-v-2a63a441]{color:var(--grey-color-900)}.az-switch .az-switch-Lvalue[data-v-2a63a441],.az-switch .az-switch-Licon[data-v-2a63a441],.az-switch.az-switch-checked .az-switch-Rvalue[data-v-2a63a441],.az-switch.az-switch-checked .az-switch-Ricon[data-v-2a63a441]{color:var(--blue-color-500)}.az-switch.az-switch-checked .az-switch-Lvalue[data-v-2a63a441],.az-switch.az-switch-checked .az-switch-Licon[data-v-2a63a441]{color:var(--grey-color-900)}.az-switch-Lvalue[data-v-2a63a441],.az-switch-Licon[data-v-2a63a441]{margin-right:10px}.az-switch-Rvalue[data-v-2a63a441],.az-switch-Ricon[data-v-2a63a441]{margin-left:10px}.az-switch-core .icon[data-v-2a63a441]{position:absolute;margin:0}.az-switch-core .az-switch-Licon[data-v-2a63a441]{left:5%}.az-switch-core .az-switch-Ricon[data-v-2a63a441]{right:5%;color:var(--grey-color-800)}.az-message[data-v-8e6498e3]{z-index:999;position:fixed;top:10%;left:50%;transform:translate(-50%,-50%);color:#000;border:1px solid #000;font-size:1.1rem;border-radius:4px;width:fit-content;max-width:calc(100% - 32px);box-sizing:border-box;display:flex;align-items:center;gap:8px;padding:4px 8px;font-size:.95rem;transition:all .3s}.az-message .icon[data-v-8e6498e3]{width:1em;height:1em;vertical-align:-.15em;fill:currentColor;overflow:hidden;font-size:1.45rem;font-weight:700}.az-message .icon-no[data-v-8e6498e3]{cursor:pointer;font-size:1.2rem;color:#a7a8bd}.az-message.az-message-info[data-v-8e6498e3]{background:#dedfe0;border-color:#dedfe0;color:#686a6e}.az-message.az-message-info .icon[data-v-8e6498e3]{color:#909399}.az-message.az-message-error[data-v-8e6498e3]{background:#ffebee;border-color:#ee3f4d;color:#ee3f4d}.az-message.az-message-error .icon[data-v-8e6498e3]{color:#ee3f4d}.az-message.az-message-warning[data-v-8e6498e3]{background:#fff3e0;border-color:#f90;color:#f90}.az-message.az-message-warning .icon[data-v-8e6498e3]{color:#f90}.az-message.az-message-success[data-v-8e6498e3]{background:#e8f5e9;border-color:#1ba784;color:#1ba784}.az-message.az-message-success .icon[data-v-8e6498e3]{color:#1ba784}.az-checkbox[data-v-93bf06a7]{position:relative;cursor:pointer;display:inline-flex;align-items:center;white-space:nowrap;-webkit-user-select:none;user-select:none;margin-right:30px;transition:all .3s}.az-checkbox.is-disabled[data-v-93bf06a7]{cursor:not-allowed;filter:opacity(50%)}.az-checkbox.is-disabled .az-checkbox-inner[data-v-93bf06a7]{background-color:var(--grey-color-300);border-color:var(--grey-color-500)}.az-checkbox[data-v-93bf06a7]:hover{transition:all 0s;color:var(--blue-color-500)}.az-checkbox:hover .az-checkbox-inner[data-v-93bf06a7]{border-color:var(--blue-color-500)}.az-checkbox-input[data-v-93bf06a7]{white-space:nowrap;outline:none;display:inline-flex;position:relative}.az-checkbox-label[data-v-93bf06a7]{display:inline-block;padding-left:8px;line-height:1;font-size:1rem}.az-checkbox-original[data-v-93bf06a7]{opacity:0;outline:none;position:absolute;margin:0;width:0;height:0;z-index:-1;box-sizing:border-box;padding:0}.az-checkbox-inner[data-v-93bf06a7]{width:14px;height:14px;display:inline-block;position:relative;border:1px solid;border-color:var(--grey-color-500);box-sizing:border-box;border-radius:2px}.az-checkbox-inner[data-v-93bf06a7]:after{box-sizing:content-box;content:"";border:1px solid transparent;border-left:0;border-top:0;height:7px;left:4px;position:absolute;top:1px;transform:rotate(45deg) scaleY(0);width:3px;transform-origin:center;transition:all .3s}.az-checkbox.is-checked .az-checkbox-inner[data-v-93bf06a7]{background:var(--blue-color-500);border-color:var(--blue-color-500)}.az-checkbox.is-checked .az-checkbox-inner[data-v-93bf06a7]:after{transform:rotate(45deg) scaleY(1);border-color:#fff}.az-checkbox-info[data-v-93bf06a7]:hover{transition:all 0s;color:var(--grey-color-500)}.az-checkbox-info:hover .az-checkbox-inner[data-v-93bf06a7]{border-color:var(--grey-color-500)}.az-checkbox-info.is-checked .az-checkbox-inner[data-v-93bf06a7]{background:var(--grey-color-500);border-color:var(--grey-color-500)}.az-checkbox-danger[data-v-93bf06a7]:hover{transition:all 0s;color:var(--red-color-600)}.az-checkbox-danger:hover .az-checkbox-inner[data-v-93bf06a7]{border-color:var(--red-color-600)}.az-checkbox-danger.is-checked .az-checkbox-inner[data-v-93bf06a7]{background:var(--red-color-600);border-color:var(--red-color-600)}.az-checkbox-success[data-v-93bf06a7]:hover{transition:all 0s;color:var(--green-color-600)}.az-checkbox-success:hover .az-checkbox-inner[data-v-93bf06a7]{border-color:var(--green-color-600)}.az-checkbox-success.is-checked .az-checkbox-inner[data-v-93bf06a7]{background:var(--green-color-600);border-color:var(--green-color-600)}.az-checkbox-warning[data-v-93bf06a7]:hover{transition:all 0s;color:var(--amber-color-600)}.az-checkbox-warning:hover .az-checkbox-inner[data-v-93bf06a7]{border-color:var(--amber-color-600)}.az-checkbox-warning.is-checked .az-checkbox-inner[data-v-93bf06a7]{background:var(--amber-color-600);border-color:var(--amber-color-600)}.az-checkbox.az-checkbox-button[data-v-52617d3d]{transition:all .1s;position:relative;cursor:pointer;display:inline-flex;align-items:center;white-space:nowrap;-webkit-user-select:none;user-select:none;color:var(--grey-color-800)}.az-checkbox.az-checkbox-button.is-disabled[data-v-52617d3d]{cursor:not-allowed;filter:opacity(50%)}.az-checkbox.az-checkbox-button.is-disabled[data-v-52617d3d]:hover{cursor:not-allowed}.az-checkbox.az-checkbox-button[data-v-52617d3d]:hover{transition:all 0s;color:var(--blue-color-500)}.az-checkbox.az-checkbox-button:hover .az-checkbox-inner[data-v-52617d3d]{border-color:var(--blue-color-500)}.az-checkbox-original[data-v-52617d3d]{opacity:0;outline:none;position:absolute;margin:0;z-index:-1}.az-checkbox-inner[data-v-52617d3d]{display:inline-block;line-height:1;white-space:nowrap;vertical-align:middle;text-align:center;box-sizing:border-box;outline:none;margin:0;position:relative;-webkit-user-select:none;user-select:none;padding:8px 15px;border-radius:0;border:1px solid var(--grey-color-400);font-size:1rem}.az-checkbox.is-checked .az-checkbox-inner[data-v-52617d3d]{background-color:var(--blue-color-500);border:1px solid var(--blue-color-500);color:#fff}.az-checkbox-info.is-checked .az-checkbox-inner[data-v-52617d3d]{background:var(--grey-color-500);border-color:var(--grey-color-500)}.az-checkbox-info.is-checked:hover .az-checkbox-inner[data-v-52617d3d]{background-color:var(--grey-color-400)}.az-checkbox-danger.is-checked .az-checkbox-inner[data-v-52617d3d]{background:var(--red-color-600);border-color:var(--red-color-600)}.az-checkbox-danger.is-checked[data-v-52617d3d]:hover{border-color:var(--red-color-400)}.az-checkbox-danger.is-checked:hover .az-checkbox-inner[data-v-52617d3d]{background-color:var(--red-color-400);color:#fff}.az-checkbox-success.is-checked .az-checkbox-inner[data-v-52617d3d]{background:var(--green-color-600);border-color:var(--green-color-600)}.az-checkbox-success[data-v-52617d3d]:hover{border-color:var(--green-color-400)}.az-checkbox-success:hover .az-checkbox-inner[data-v-52617d3d]{background-color:var(--green-color-400);color:#fff}.az-checkbox-warning.is-checked .az-checkbox-inner[data-v-52617d3d]{background:var(--amber-color-600);border-color:var(--amber-color-600)}.az-checkbox-warning[data-v-52617d3d]:hover{border-color:var(--amber-color-400)}.az-checkbox-warning:hover .az-checkbox-inner[data-v-52617d3d]{background-color:var(--amber-color-400);color:#fff}.az-collapse[data-v-a9e10e2d]{box-sizing:border-box;border-top:1px solid var(--grey-color-400)}.az-collapse-item[data-v-b436bf30]{border-bottom:1px solid var(--grey-color-400);color:var(--grey-color-900)}.az-collapse-item-header[data-v-b436bf30]{width:100%;padding:0;border:none;display:flex;align-items:center;height:48px;line-height:48px;cursor:pointer;font-size:1.15rem;font-weight:500;transition:border-bottom-color .1s;outline:none;background-color:transparent}.az-collapse-item-header .icon[data-v-b436bf30]{margin:0 8px 0 auto;height:1em;width:1em;line-height:1em;display:inline-flex;justify-content:center;align-items:center;position:relative;fill:currentColor;font-size:inherit}.az-collapse-item-wrap[data-v-b436bf30]{will-change:height;overflow:hidden;box-sizing:border-box}.az-collapse-item-content[data-v-b436bf30]{transition:all .5s;box-sizing:border-box;line-height:1.7}.noshow[data-v-414566c2]{height:0;overflow:hidden;border:none!important}.az-cascader[data-v-414566c2]{display:inline-block;vertical-align:middle;position:relative;font-size:1rem;line-height:32px;outline:none}.az-cascader .icon[data-v-414566c2]{z-index:-1}.az-cascader .az-input[data-v-414566c2]{display:flex;cursor:pointer}.az-input[data-v-414566c2]{position:relative;width:100%;line-height:32px;box-sizing:border-box;vertical-align:middle}.az-input-wrapper[data-v-414566c2]{display:inline-flex;flex-grow:1;align-items:center;justify-content:center;padding:1px 11px;border:1px solid var(--grey-color-500);border-radius:3px;background-image:none;cursor:text;transform:translateZ(0)}.az-cascader .az-input .az-input-inner[data-v-414566c2]{text-overflow:ellipsis;cursor:pointer}.az-input-inner[data-v-414566c2]{width:100%;flex-grow:1;font-size:inherit;padding:0;outline:none;border:none;background:none;box-sizing:border-box;line-height:28px}.noshow[data-v-46885c91]{display:none}.az-popper[data-v-46885c91]{display:flex;vertical-align:middle;line-height:20px;min-width:10px;overflow-wrap:break-word;visibility:visible;background-color:var(--grey-color-50);border:1px solid var(--grey-color-400);border-radius:5px;position:fixed;z-index:99}.az-cascader-panel[data-v-46885c91]{display:flex}.az-cascader-menu[data-v-46885c91]{min-width:180px;box-sizing:border-box;color:var(--grey-color-900);border-right:1px solid var(--grey-color-500)}.az-cascader-menu[data-v-46885c91]:last-child{border-right:none}.az-cascader-menu-wrap.az-scrollbar-wrap[data-v-46885c91]{height:204px;overflow:auto}.az-cascader-menu-list[data-v-46885c91]{position:relative;min-height:100%;margin:0;padding:6px 0;list-style:none;box-sizing:border-box}.az-cascader-node[data-v-46885c91]{position:relative;display:flex;align-items:center;padding:0 15px;height:34px;line-height:34px;outline:none;cursor:pointer}.az-cascader-node[data-v-46885c91]:hover{background-color:#9093991a}.az-cascader-node_label[data-v-46885c91]{flex:1;text-align:left;padding:0 8px;white-space:nowrap;overflow:hidden;text-overflow:ellipsis;font-size:.85rem}.az-cascader-node .icon[data-v-46885c91]{position:absolute;right:10px}*{box-sizing:border-box}a{text-decoration:none}:root{--red-color-50: #FFEBEE;--red-color-100: #FFCDD2;--red-color-200: #EF9A9A;--red-color-300: #E57373;--red-color-400: #EF5350;--red-color-500: #F44336;--red-color-600: #E53935;--red-color-700: #D32F2F;--red-color-800: #C62828;--red-color-900: #B71C1C;--red-color-A100: #FF8A80;--red-color-A200: #FF5252;--red-color-A400: #FF1744;--red-color-A700: #D50000;--pink-color-50: #FCE4EC;--pink-color-100: #F8BBD0;--pink-color-200: #F48FB1;--pink-color-300: #F06292;--pink-color-400: #EC407A;--pink-color-500: #E91E63;--pink-color-600: #D81B60;--pink-color-700: #C2185B;--pink-color-800: #AD1457;--pink-color-900: #880E4F;--pink-color-A100: #FF80AB;--pink-color-A200: #FF4081;--pink-color-A400: #F50057;--pink-color-A700: #C51162;--purple-color-50: #F3E5F5;--purple-color-100: #E1BEE7;--purple-color-200: #CE93D8;--purple-color-300: #BA68C8;--purple-color-400: #AB47BC;--purple-color-500: #9C27B0;--purple-color-600: #8E24AA;--purple-color-700: #7B1FA2;--purple-color-800: #6A1B9A;--purple-color-900: #4A148C;--purple-color-A100: #EA80FC;--purple-color-A200: #E040FB;--purple-color-A400: #D500F9;--purple-color-A700: #AA00FF;--deep-purple-color-50: #EDE7F6;--deep-purple-color-100: #D1C4E9;--deep-purple-color-200: #B39DDB;--deep-purple-color-300: #9575CD;--deep-purple-color-400: #7E57C2;--deep-purple-color-500: #673AB7;--deep-purple-color-600: #5E35B1;--deep-purple-color-700: #512DA8;--deep-purple-color-800: #4527A0;--deep-purple-color-900: #311B92;--deep-purple-color-A100: #B388FF;--deep-purple-color-A200: #7C4DFF;--deep-purple-color-A400: #651FFF;--deep-purple-color-A700: #6200EA;--indigo-color-50: #E8EAF6;--indigo-color-100: #C5CAE9;--indigo-color-200: #9FA7E4;--indigo-color-300: #7986CB;--indigo-color-400: #5C6BC0;--indigo-color-500: #3F51B5;--indigo-color-600: #3949AB;--indigo-color-700: #303F9F;--indigo-color-800: #283593;--indigo-color-900: #1A237E;--indigo-color-A100: #8C9EFF;--indigo-color-A200: #536DFE;--indigo-color-A400: #3D5AFE;--indigo-color-A700: #304FFE;--blue-color-50: #E3F2FD;--blue-color-100: #BBDEFB;--blue-color-200: #90CAF9;--blue-color-300: #64B5F6;--blue-color-400: #42A5F5;--blue-color-500: #2196F3;--blue-color-600: #1E88E5;--blue-color-700: #1976D2;--blue-color-800: #1565C0;--blue-color-900: #0D47A1;--blue-color-A100: #82B1FF;--blue-color-A200: #448AFF;--blue-color-A400: #2979FF;--blue-color-A700: #2962FF;--light-blue-color-50: #E1F5FE;--light-blue-color-100: #B3E5FC;--light-blue-color-200: #81D4FA;--light-blue-color-300: #4FC3F7;--light-blue-color-400: #29B6F6;--light-blue-color-500: #03A9F4;--light-blue-color-600: #039BE5;--light-blue-color-700: #0288D1;--light-blue-color-800: #0277BD;--light-blue-color-900: #01579B;--light-blue-color-A100: #80D8FF;--light-blue-color-A200: #40C4FF;--light-blue-color-A400: #00B0FF;--light-blue-color-A700: #0091EA;--cyan-color-50: #E0F7FA;--cyan-color-100: #B2EBF2;--cyan-color-200: #80DEEA;--cyan-color-300: #4DD0E1;--cyan-color-400: #26C6DA;--cyan-color-500: #00BCD4;--cyan-color-600: #00ACC1;--cyan-color-700: #0097A7;--cyan-color-800: #00838F;--cyan-color-900: #006064;--cyan-color-A100: #84FFFF;--cyan-color-A200: #18FFFF;--cyan-color-A400: #00E5FF;--cyan-color-A700: #00B8D4;--teal-color-50: #E0F2F1;--teal-color-100: #B2DFDB;--teal-color-200: #80CBC4;--teal-color-300: #4DB6AC;--teal-color-400: #26A69A;--teal-color-500: #009688;--teal-color-600: #00897B;--teal-color-700: #00796B;--teal-color-800: #00695C;--teal-color-900: #004D40;--teal-color-A100: #A7FFEB;--teal-color-A200: #64FFDA;--teal-color-A400: #1DE9B6;--teal-color-A700: #00BFA5;--green-color-50: #E8F5E9;--green-color-100: #C8E6C9;--green-color-200: #A5D6A7;--green-color-300: #81C784;--green-color-400: #66BB6A;--green-color-500: #4CAF50;--green-color-600: #43A047;--green-color-700: #388E3C;--green-color-800: #2E7D32;--green-color-900: #1B5E20;--green-color-A100: #B9F6CA;--green-color-A200: #69F0AE;--green-color-A400: #00E676;--green-color-A700: #00C853;--light-green-color-50: #F1F8E9;--light-green-color-100: #DCEDC8;--light-green-color-200: #C5E1A5;--light-green-color-300: #AED581;--light-green-color-400: #9CCC65;--light-green-color-500: #8BC34A;--light-green-color-600: #7CB342;--light-green-color-700: #689F38;--light-green-color-800: #558B2F;--light-green-color-900: #33691E;--light-green-color-A100: #CCFF90;--light-green-color-A200: #B2FF59;--light-green-color-A400: #76FF03;--light-green-color-A700: #64DD17;--lime-color-50: #F9FBE7;--lime-color-100: #F0F4C3;--lime-color-200: #E6EE9C;--lime-color-300: #DCE775;--lime-color-400: #D4E157;--lime-color-500: #CDBE2B;--lime-color-600: #C0AA1D;--lime-color-700: #AF9E15;--lime-color-800: #9C880B;--lime-color-900: #827717;--lime-color-A100: #F4FF81;--lime-color-A200: #EEFF41;--lime-color-A400: #C6FF00;--lime-color-A700: #AEEA00;--yellow-color-50: #FFFDE7;--yellow-color-100: #FFF9C4;--yellow-color-200: #FFF59D;--yellow-color-300: #FFF176;--yellow-color-400: #FFEE58;--yellow-color-500: #FFEB3B;--yellow-color-600: #FDD835;--yellow-color-700: #FBC02D;--yellow-color-800: #F9A825;--yellow-color-900: #F57F17;--yellow-color-A100: #FFFF8D;--yellow-color-A200: #FFFF00;--yellow-color-A400: #FFEA00;--yellow-color-A700: #FFD600;--amber-color-50: #FFF8E1;--amber-color-100: #FFECB3;--amber-color-200: #FFE082;--amber-color-300: #FFD54F;--amber-color-400: #FFCA28;--amber-color-500: #FFC107;--amber-color-600: #FFB300;--amber-color-700: #FFA000;--amber-color-800: #FF8F00;--amber-color-900: #FF6F00;--amber-color-A100: #FFE57F;--amber-color-A200: #FFD740;--amber-color-A400: #FFC400;--amber-color-A700: #FFAB00;--orange-color-50: #FFF3E0;--orange-color-100: #FFE0B2;--orange-color-200: #FFCC80;--orange-color-300: #FFB74D;--orange-color-400: #FFA726;--orange-color-500: #FF9800;--orange-color-600: #FB8C00;--orange-color-700: #F57C00;--orange-color-800: #EF6C00;--orange-color-900: #E65100;--orange-color-A100: #FFD180;--orange-color-A200: #FFAB40;--orange-color-A400: #FF9100;--orange-color-A700: #FF6D00;--deep-orange-color-50: #FBE9E7;--deep-orange-color-100: #FFCCBC;--deep-orange-color-200: #FFAB91;--deep-orange-color-300: #FF8A65;--deep-orange-color-400: #FF7043;--deep-orange-color-500: #FF5722;--deep-orange-color-600: #F4511E;--deep-orange-color-700: #E64A19;--deep-orange-color-800: #D84315;--deep-orange-color-900: #BF360C;--deep-orange-color-A100: #FF9E80;--deep-orange-color-A200: #FF6E40;--deep-orange-color-A400: #FF3D00;--deep-orange-color-A700: #DD2C00;--brown-color-50: #EFEBE9;--brown-color-100: #D7CCC8;--brown-color-200: #BCAAA4;--brown-color-300: #A1887F;--brown-color-400: #8D6E63;--brown-color-500: #795548;--brown-color-600: #6D4C41;--brown-color-700: #5D4037;--brown-color-800: #4E342E;--brown-color-900: #3E2723;--brown-color-A100: #D7CCC8;--brown-color-A200: #8D6E63;--brown-color-A400: #6D4C41;--brown-color-A700: #4E342E;--grey-color-50: #FAFAFA;--grey-color-100: #F5F5F5;--grey-color-200: #EEEEEE;--grey-color-300: #E0E0E0;--grey-color-400: #BDBDBD;--grey-color-500: #9E9E9E;--grey-color-600: #757575;--grey-color-700: #616161;--grey-color-800: #424242;--grey-color-900: #212121;--grey-color-A100: #F5F5F5;--grey-color-A200: #BDBDBD;--grey-color-A400: #757575;--grey-color-A700: #212121;--grey-color-50A: rgba(250, 250, 250, .5);--blue-grey-color-50: #ECEFF1;--blue-grey-color-100: #CFD8DC;--blue-grey-color-200: #B0BEC5;--blue-grey-color-300: #90A4AE;--blue-grey-color-400: #78909C;--blue-grey-color-500: #607D8B;--blue-grey-color-600: #546E7A;--blue-grey-color-700: #455A64;--blue-grey-color-800: #37474F;--blue-grey-color-900: #263238;--blue-grey-color-A100: #CFD8DC;--blue-grey-color-A200: #78909C;--blue-grey-color-A400: #546E7A;--blue-grey-color-A700: #37474F}.dark{--red-color-50: #B71C1C;--red-color-100: #C62828;--red-color-200: #D32F2F;--red-color-300: #E53935;--red-color-400: #EF5350;--red-color-500: #F44336;--red-color-600: #E57373;--red-color-700: #EF9A9A;--red-color-800: #FFCDD2;--red-color-900: #FFEBEE;--red-color-A100: #D50000;--red-color-A200: #FF1744;--red-color-A400: #FF5252;--red-color-A700: #FF8A80;--pink-color-50: #880E4F;--pink-color-100: #AD1457;--pink-color-200: #C2185B;--pink-color-300: #D81B60;--pink-color-400: #EC407A;--pink-color-500: #E91E63;--pink-color-600: #F06292;--pink-color-700: #F48FB1;--pink-color-800: #F8BBD0;--pink-color-900: #FCE4EC;--pink-color-A100: #C51162;--pink-color-A200: #F50057;--pink-color-A400: #FF4081;--pink-color-A700: #FF80AB;--purple-color-50: #4A148C;--purple-color-100: #6A1B9A;--purple-color-200: #7B1FA2;--purple-color-300: #8E24AA;--purple-color-400: #AB47BC;--purple-color-500: #9C27B0;--purple-color-600: #BA68C8;--purple-color-700: #CE93D8;--purple-color-800: #E1BEE7;--purple-color-900: #F3E5F5;--purple-color-A100: #AA00FF;--purple-color-A200: #D500F9;--purple-color-A400: #E040FB;--purple-color-A700: #EA80FC;--deep-purple-color-50: #311B92;--deep-purple-color-100: #4527A0;--deep-purple-color-200: #512DA8;--deep-purple-color-300: #5E35B1;--deep-purple-color-400: #7E57C2;--deep-purple-color-500: #673AB7;--deep-purple-color-600: #9575CD;--deep-purple-color-700: #B39DDB;--deep-purple-color-800: #D1C4E9;--deep-purple-color-900: #EDE7F6;--deep-purple-color-A100: #6200EA;--deep-purple-color-A200: #651FFF;--deep-purple-color-A400: #7C4DFF;--deep-purple-color-A700: #B388FF;--indigo-color-50: #1A237E;--indigo-color-100: #283593;--indigo-color-200: #303F9F;--indigo-color-300: #3949AB;--indigo-color-400: #5C6BC0;--indigo-color-500: #3F51B5;--indigo-color-600: #7986CB;--indigo-color-700: #9FA7E4;--indigo-color-800: #C5CAE9;--indigo-color-900: #E8EAF6;--indigo-color-A100: #304FFE;--indigo-color-A200: #3D5AFE;--indigo-color-A400: #536DFE;--indigo-color-A700: #8C9EFF;--blue-color-50: #0D47A1;--blue-color-100: #1565C0;--blue-color-200: #1976D2;--blue-color-300: #1E88E5;--blue-color-400: #42A5F5;--blue-color-500: #2196F3;--blue-color-600: #64B5F6;--blue-color-700: #90CAF9;--blue-color-800: #BBDEFB;--blue-color-900: #E3F2FD;--blue-color-A100: #2962FF;--blue-color-A200: #2979FF;--blue-color-A400: #448AFF;--blue-color-A700: #82B1FF;--light-blue-color-50: #01579B;--light-blue-color-100: #0277BD;--light-blue-color-200: #0288D1;--light-blue-color-300: #039BE5;--light-blue-color-400: #29B6F6;--light-blue-color-500: #03A9F4;--light-blue-color-600: #4FC3F7;--light-blue-color-700: #81D4FA;--light-blue-color-800: #B3E5FC;--light-blue-color-900: #E1F5FE;--light-blue-color-A100: #0091EA;--light-blue-color-A200: #00B0FF;--light-blue-color-A400: #40C4FF;--light-blue-color-A700: #80D8FF;--cyan-color-50: #006064;--cyan-color-100: #00838F;--cyan-color-200: #0097A7;--cyan-color-300: #00ACC1;--cyan-color-400: #26C6DA;--cyan-color-500: #00BCD4;--cyan-color-600: #4DD0E1;--cyan-color-700: #80DEEA;--cyan-color-800: #B2EBF2;--cyan-color-900: #E0F7FA;--cyan-color-A100: #00B8D4;--cyan-color-A200: #00E5FF;--cyan-color-A400: #18FFFF;--cyan-color-A700: #84FFFF;--teal-color-50: #004D40;--teal-color-100: #00695C;--teal-color-200: #00796B;--teal-color-300: #00897B;--teal-color-400: #26A69A;--teal-color-500: #009688;--teal-color-600: #4DB6AC;--teal-color-700: #80CBC4;--teal-color-800: #B2DFDB;--teal-color-900: #E0F2F1;--teal-color-A100: #00BFA5;--teal-color-A200: #1DE9B6;--teal-color-A400: #64FFDA;--teal-color-A700: #A7FFEB;--green-color-50: #1B5E20;--green-color-100: #2E7D32;--green-color-200: #388E3C;--green-color-300: #43A047;--green-color-400: #66BB6A;--green-color-500: #4CAF50;--green-color-600: #81C784;--green-color-700: #A5D6A7;--green-color-800: #C8E6C9;--green-color-900: #E8F5E9;--green-color-A100: #00C853;--green-color-A200: #00E676;--green-color-A400: #69F0AE;--green-color-A700: #B9F6CA;--light-green-color-50: #33691E;--light-green-color-100: #558B2F;--light-green-color-200: #689F38;--light-green-color-300: #7CB342;--light-green-color-400: #9CCC65;--light-green-color-500: #8BC34A;--light-green-color-600: #AED581;--light-green-color-700: #C5E1A5;--light-green-color-800: #DCEDC8;--light-green-color-900: #F1F8E9;--light-green-color-A100: #64DD17;--light-green-color-A200: #76FF03;--light-green-color-A400: #B2FF59;--light-green-color-A700: #CCFF90;--lime-color-50: #827717;--lime-color-100: #9C880B;--lime-color-200: #AF9E15;--lime-color-300: #C0AA1D;--lime-color-400: #D4E157;--lime-color-500: #CDDC39;--lime-color-600: #DCE775;--lime-color-700: #E6EE9C;--lime-color-800: #F0F4C3;--lime-color-900: #F9FBE7;--lime-color-A100: #AEEA00;--lime-color-A200: #C6FF00;--lime-color-A400: #EEFF41;--lime-color-A700: #F4FF81;--yellow-color-50: #F57F17;--yellow-color-100: #F9A825;--yellow-color-200: #FBC02D;--yellow-color-300: #FDD835;--yellow-color-400: #FFEB3B;--yellow-color-500: #FFEB3B;--yellow-color-600: #FFEE58;--yellow-color-700: #FFF176;--yellow-color-800: #FFF59D;--yellow-color-900: #FFF9C4;--yellow-color-A100: #FFD600;--yellow-color-A200: #FFEA00;--yellow-color-A400: #FFFF00;--yellow-color-A700: #FFFF8D;--amber-color-50: #FF6F00;--amber-color-100: #FF8F00;--amber-color-200: #FFA000;--amber-color-300: #FFB300;--amber-color-400: #FFC107;--amber-color-500: #FFCA28;--amber-color-600: #FFD54F;--amber-color-700: #FFF59D;--amber-color-800: #FFECB3;--amber-color-900: #FFF8E1;--amber-color-A100: #FFAB00;--amber-color-A200: #FFC400;--amber-color-A400: #FFD740;--amber-color-A700: #FFE57F;--orange-color-50: #E65100;--orange-color-100: #EF6C00;--orange-color-200: #F57C00;--orange-color-300: #FB8C00;--orange-color-400: #FF9800;--orange-color-500: #FFA726;--orange-color-600: #FFB74D;--orange-color-700: #FFCC80;--orange-color-800: #FFE0B2;--orange-color-900: #FFF3E0;--orange-color-A100: #FF6D00;--orange-color-A200: #FF9100;--orange-color-A400: #FFAB40;--orange-color-A700: #FFD180;--deep-orange-color-50: #BF360C;--deep-orange-color-100: #D84315;--deep-orange-color-200: #E64A19;--deep-orange-color-300: #F4511E;--deep-orange-color-400: #FF5722;--deep-orange-color-500: #FF7043;--deep-orange-color-600: #FF8A65;--deep-orange-color-700: #FFAB91;--deep-orange-color-800: #FFCCBC;--deep-orange-color-900: #FBE9E7;--deep-orange-color-A100: #DD2C00;--deep-orange-color-A200: #FF3D00;--deep-orange-color-A400: #FF6E40;--deep-orange-color-A700: #FF9E80;--brown-color-50: #3E2723;--brown-color-100: #4E342E;--brown-color-200: #5D4037;--brown-color-300: #6D4C41;--brown-color-400: #795548;--brown-color-500: #8D6E63;--brown-color-600: #A1887F;--brown-color-700: #BCAAA4;--brown-color-800: #D7CCC8;--brown-color-900: #EFEBE9;--brown-color-A100: #6D4C41;--brown-color-A200: #8D6E63;--brown-color-A400: #BCAAA4;--brown-color-A700: #D7CCC8;--grey-color-50: #212121;--grey-color-100: #424242;--grey-color-200: #616161;--grey-color-300: #757575;--grey-color-400: #9E9E9E;--grey-color-500: #9E9E9E;--grey-color-600: #BDBDBD;--grey-color-700: #E0E0E0;--grey-color-800: #EEEEEE;--grey-color-900: #F5F5F5;--grey-color-A700: #E0E0E0;--grey-color-A400: #BDBDBD;--grey-color-A200: #9E9E9E;--grey-color-A100: #757575;--grey-color-50A: rgba(33, 33, 33, .5);--blue-grey-color-50: #263238;--blue-grey-color-100: #37474F;--blue-grey-color-200: #455A64;--blue-grey-color-300: #546E7A;--blue-grey-color-400: #78909C;--blue-grey-color-500: #607D8B;--blue-grey-color-600: #90A4AE;--blue-grey-color-700: #B0BEC5;--blue-grey-color-800: #CFD8DC;--blue-grey-color-900: #ECEFF1;--blue-grey-color-A100: #546E7A;--blue-grey-color-A200: #78909C;--blue-grey-color-A400: #90A4AE;--blue-grey-color-A700: #CFD8DC}
